.companies__section {
    margin-top: 120px;
    @include bp($md) {
        margin-top: 157px;
    }
    .companies {
        .companies__text {
            margin-bottom: 16px;
            text-align: center;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            @include bp($md) {
                font-size: 16px;
                line-height: 16px;
            }
        }
        .companies__items {
            margin: 0 auto;
            padding: 24px 16px;
            display: flex;
            justify-content: space-between;
            background: #f6f6f6;
            border-radius: 8px;
            @include bp($md) {
                padding: 24px;
            }
            img {
                width: 17%;
                @include bp($md) {
                    width: 11%;
                }
            }
        }
    }
}

.branding {
    .branding__content {
        padding-top: 88px;
        display: flex;
        @include bp-max($md) {
            text-align: center;
            flex-direction: column-reverse;
        }
        @include bp($md) {
            padding-top: 136px;
        }
        .branding__img {
            padding-right: 100px;
            @include bp($lg) {
                padding-right: 180px;
            }
            @include bp-max($md) {
                padding: 24px 0 0 0;
            }
            img {
                @include bp-max($md) {
                    max-width: 100%;
                }
            }
        }
        .content {
            .content__title {
                padding-top: 58px;
                @include bp($md) {
                    padding-top: 97px;
                }
            }
            .content__text {
                font-weight: 400;
                padding: 24px 0 32px;
                @include bp($md) {
                    padding: 25px 0 45px;
                }
            }
            .arrow {
                img {
                    @include bp-max($md) {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}